/* .saludo{
    color: rgb(34, 160, 161);
} */
.saludo{
    color: rgb(85, 19, 172);
}

.landing{
    height: 50vh;
}
.profile-image{
    height: 16rem;
    box-shadow: 0px 12px 10px rgba(76, 76, 76, 0.504);
    
}