.textou{
    background-color: rgb(39, 8, 79);
    color: white;
}

.achecinco{
    line-height: 40px;
    /* text-align: justify; */
    width: 75%;
}
.image{
    background: linear-gradient(rgb(37, 37, 37),transparent),url('/pexels-christina-morillo-1181298.jpg');
    background-size: cover;
    background-position: right;


}

/* .about-me{
    height: 100vh;

} */

.about-me{
    min-height: 500px;
}

@media screen and (max-width: 576px) {
  .acheuno{
    font-size: 30px;
  }
  .achecinco{
    font-size: 16px;
    margin-bottom: 2rem;


  }
}
@media screen and (max-width: 421px) {
    .acheuno{
        font-size: 25px;
      }
    .achecinco{
        font-size: 14px;
    }
}