
/* #roboboat{
    height: 85vh;
} */
#roboboat{
    height: 500px;
}
@media screen and (max-width:487px) {
    #roboboat{
        height: 600px;
    }
   
}
@media screen and (max-width:445px) {
    #roboboat{
        height: 700px;
    }
   
}
@media screen and (max-width:421px) {
    #roboboat{
        height: 600px;
    }
    .ache{
        font-size: 16px;
    }
    
   
}
@media screen and (min-width:992px) and (max-width: 1200px) {
    #roboboat{
        height: 600px;
    }
}
