.contactou{
    height: 90px;
    width: 90px;
    margin-top: 1rem;
}
/* .titulazo-contact{
    color: rgb(135, 204, 204);
} */
.titulazo-contact{
    color: whitesmoke;
    /* color: rgb(172, 111, 19); */
    height: 75%;
    width: 75%;
    
}
.cards-wrapper{
    height: 75%;
    width: 75%;
}
.contact-wrapper{
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#contact{
    height: 90vh;
    /* background: linear-gradient(rgb(13, 60, 60),transparent),url('/pexels-stephan-seeber-1261728.jpg') ; */
    background: linear-gradient(rgb(26, 5, 52),rgba(26, 5, 52, 0.677),rgba(27, 6, 55, 0.551),rgba(39, 8, 79, 0.392)),url('/pexels-stephan-seeber-1261728.jpg') ;
    background-size: cover;
    background-position: bottom;
    color: grey;
    width: 100vw;
    
    
    
    
}

@media screen and (max-width:1400px) {
    #contact{
        height: 700px;
    }
    .contact-wrapper{
        height: 700px;

    }
    
}
@media screen and (max-width: 644px) {
    #contact{
        height: 700px;
    }
    .contact-wrapper{
        height: 1000px;

    }
}
@media screen and (max-width: 576px) {
    .titulazo-contact{
        color: whitesmoke;
        height: 50%;
        /* color: rgb(172, 111, 19); */
    }
    .contact-wrapper{
        height: 100%;
    }
    .contactou{
        height: 50px;
        width: 50px;
    }
    
}
@media screen and (max-width: 768px) {
    .contactou{
        height: 75px;
        width: 75px;
    }
    
   
    
}

.tarjeee{
    height: 35vh;
    max-height: 15rem;
    /* background-color: rgba(173, 173, 173, 0.948); */
    width: 25vw;
    min-width: 300px;

}
.tarjeee:hover{
    opacity: 3rem;
    cursor: pointer;
    background-color: rgb(74, 74, 74);

    
}

@media screen and (max-width: 826px) {
    .tarjeee{
        height: 20vh;
        /* max-height: 15rem; */
    }
    .contactou{
        height: 75px;
        width: 75px;
    }
}
