.contactou{
    height: 100px;
    width: 100px;
}
/* .titulazo-contact{
    color: rgb(135, 204, 204);
} */
.titulazo-contact{
    color: whitesmoke;
    /* color: rgb(172, 111, 19); */
    
}

#contact{
    height: 90vh;
    /* background: linear-gradient(rgb(13, 60, 60),transparent),url('/pexels-stephan-seeber-1261728.jpg') ; */
    background: linear-gradient(rgb(26, 5, 52),rgba(26, 5, 52, 0.677),rgba(27, 6, 55, 0.551),rgba(39, 8, 79, 0.392)),url('/pexels-stephan-seeber-1261728.jpg') ;
    background-size: cover;
    background-position: bottom;
    color: grey;
    width: 100vw;
   



}
@media screen and (max-width:1400px) {
    #contact{
        height: 700px;
    }
    .contact-wrapper{
        height: 700px;

    }
    
}
@media screen and (max-width: 576px) {
    .titulazo-contact{
        color: whitesmoke;
        width: 100%;
        /* color: rgb(172, 111, 19); */
    }
   
    
}
@media screen and (max-width: 768px) {
    .contactou{
        height: 75px;
        width: 75px;
    }
    
   
    
}

.tarjeee{
    height: 35vh;
    max-height: 10rem;
    /* background-color: rgba(173, 173, 173, 0.948); */
    width: 20vw;
    min-width: 300px;

}
.tarjeee:hover{
    opacity: 3rem;
    cursor: pointer;
    background-color: rgb(74, 74, 74);

    
}